/* Main section */
.items-container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .item-container {
    width: 250px;
    margin: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
  }
  
  .item-image {
    width: 100%;
    border-radius: 5px;
  }
  
  .rating {
    font-size: 12px;
    font-weight: 700;
    margin-top: 8px;
  }
  
  .company-name {
    font-size: 16px;
    font-weight: 700;
    color: #282c3f;
    margin-top: 8px;
  }
  
  .item-name {
    font-size: 14px;
    color: #535766;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .price {
    margin-top: 10px;
    font-size: 14px;
    color: #282c3f;
  }
  
  .current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .discount {
    color: #ff905a;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .btn-add-bag {
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  